# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Get the data
import pandas as pd
import numpy as np
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url1)

url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)

url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)

In [18]:
# Concatenate the 3
insurance_df = pd.concat([df1,df2,df3], axis=0).reset_index(drop=True)
insurance_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [20]:
# White spaces in column names should be replaced by _ and Column names should be in lower case
insurance_df = insurance_df.rename(columns={col: col.replace(" ","_").lower() for col in insurance_df.columns})

In [21]:
# Change state column name
insurance_df = insurance_df.rename(columns={"st": "state"})

In [22]:
# create a function to clean the values m, Mallle etc
def clean_gender(gender):
    if isinstance(gender, str):  # check str necessary due to NaN
        gender = gender.lower()
        if gender.startswith("m"):
            return "M"
        elif gender.startswith("f") or gender.startswith("w"):
            return "F"
        else:
            return pd.NA  # for other values
    return pd.NA  # for NaN

# create a function to map the function clean_gender to the column you want after creating a copy
def clean_df(df: pd.DataFrame):
    df2 = df.copy()
    df2["gender"] = df2["gender"].map(clean_gender)
    return df2

In [31]:
# appliquer les fonctions
cleaned_df = clean_df(insurance_df)

In [35]:
# remplacer les acronymes dans state
cleaned_df['state'] = cleaned_df['state'].replace({'AZ': 'Arizona', 'WA': 'Washington'})

In [36]:
# education remplacer d'une autre manière 
cleaned_df['education'] = cleaned_df['education'].apply(lambda x: "Bachelor" if x == "Bachelors" else x) #attention au x!!!

education
Bachelor                2743
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Name: count, dtype: int64

In [38]:
# In Customer Lifetime Value, delete the % character
cleaned_df['customer_lifetime_value'] = cleaned_df['customer_lifetime_value'].str.replace('%','', regex=False)

In [39]:
# insurance_df['vehicle_class'] 
car_replacement = ["sports car", "luxury suv", "luxury car"]
cleaned_df['vehicle_class'] = cleaned_df['vehicle_class'].apply(lambda x: "luxury" if isinstance(x, str) and x.lower() in car_replacement else x)

In [40]:
# customer life value corrections
cleaned_df['customer_lifetime_value'] = pd.to_numeric(cleaned_df['customer_lifetime_value'], errors='coerce')
# # of complaints corrections
cleaned_df['number_of_open_complaints'] = cleaned_df['number_of_open_complaints'].str.split('/').str[1].astype(float)

In [42]:
cleaned_df['customer_lifetime_value'] = cleaned_df['customer_lifetime_value'].replace('%','')

In [49]:
numeric_cols = cleaned_df.select_dtypes(include = 'number')

In [48]:
cleaned_df = cleaned_df.astype({col: float for col in numeric_cols}) # en vrai on devrait avoir int

In [50]:
# help by AI get a filter number of missing values (ie columns per row, 11 is all columns)
missing_count_per_row = cleaned_df.isna().sum(axis=1)
cleaned_df = cleaned_df[missing_count_per_row < 11]
cleaned_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Washington,<NA>,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934,NaN,<NA>
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935,NaN,<NA>
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247,NaN,<NA>
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344,NaN,<NA>
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,<NA>,Bachelor,NaN,71941.0,73.0,NaN,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,<NA>,College,NaN,21604.0,79.0,NaN,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,<NA>,Bachelor,NaN,0.0,85.0,NaN,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,<NA>,College,NaN,21941.0,96.0,NaN,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,<NA>,College,NaN,0.0,77.0,NaN,Corporate Auto,Two-Door Car,369.600000,California,M

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [64]:
# Your code goes here
# import pandas as pd
# import numpy as np
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [66]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [67]:
pivot_df = df.pivot_table(index='sales_channel', values=['income'], aggfunc='sum')
pivot_df =  round(pivot_df,2)
pivot_df

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

In [68]:
# the sales channel capitalizing the highest income is Agent, followed by Branch. Thern we can observe a sharp decline for Call Center and Web sales channels.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [71]:
# Pivot the DataFrame to see the GDP based on the country and year
pivot_df = df.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='mean')
pivot_df = round(pivot_df,0)
pivot_df

          customer_lifetime_value
education                Bachelor College  Doctor High School or Below  Master
gender
F                          7874.0  7749.0  7329.0               8675.0  8157.0
M                          7704.0  8052.0  7415.0               8150.0  8169.0

In [ ]:
""" Customer Lifetime Value varies slightly according to gender and education level, but the differences remain small. 
Overall, high school and master's degree levels show the highest values, while doctoral degrees show the lowest for both genders. 
The differences between men and women are not very pronounced. We can notice the Customer Liefetime Value is the highest for women (and only for this education level and for women) with a high school or below level of education"""

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*